<!DOCTYPE html>
<html>
<head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>${title}</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
</head>
<script>
    $(document).ready(function () {});
</script>
<body>
<a href="/">《返回首页</a>
<h1>历史任务</h1>
<table border="1" cellspacing="0" cellpadding="0" width="100%">
    <tr>
        <th>任务ID</th>
        <th>任务名称</th>
        <th>实例ID</th>
        <th>实例名称</th>
        <th>任务到达时间</th>
        <th>任务滞留时间</th>
    </tr>
    <#if tasks?exists>
    <#list tasks as item>
    <tr>
        <td>${item.taskId}</td>
        <td>${item.taskName}</td>
        <td>${item.procInstId}</td>
        <td>${item.procInstName!}</td>
        <td>${item.startTime?string('yyyy-MM-dd HH:mm:ss')}</td>
        <td>${item.stayTime}</td>
    </tr>
    </#list>
    </#if>
</table>
</body>
</html>